.cr4me-link {
	background-color: #31b0d5;
	border-color: #269abc;
	border-radius: 4px;
	color: #ffffff;
	display: inline;
	padding: 1px 15px 1px 5px;
	white-space: nowrap;
}

.cr4me-link-image {
	background-image: url("./images/cr4me.png");
	background-repeat: no-repeat;
	padding: 15px;
	background-size: 100% auto;
	margin-top: -10px;
	display: inline-block;
	background-position: 0 120%;
}

.un1matr1x_cr4me-icon {
	background-image: url("./images/cr4me.png");
	background-size: 100% auto;
}

.un1matr1x_gameforge-icon {
	background-image: url("./images/gameforge.png");
	background-size: 100% auto;
}
